@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>
    <p>Company details:</p>
    <p>Company Name: <strong>@Model.companyName</strong>
    <br />
    Website: @Model.website

    </p>
    
</div>
